<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Управление командой{% endblock title %}</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/main.css">
    {% block links %}{% endblock links %}
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header__links">
                    <a href="/">Главная</a>
                    <a href="/register">Регистрация</a>
                    <a href="/login">Войти</a>
                    <a href="/logout">Выйти</a>
                </div>
            </div>
        </header>

        <main>
            <div class="container">
                {% block content %}{% endblock content %}
            </div>
        </main>

        <footer>
            <div class="container">
                &copy;
                <script>document.write(new Date().getFullYear());</script>
                Система управления командой
            </div>
        </footer>
    </div>
</body>
</html>
