<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Управление командой{% endblock title %}</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header>
        Header
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        Footer
    </footer>
</body>
</html>
