{% extends "base.html" %}

{% block title %}Команда{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="/static/team.css">
{% endblock links %}


{% block content %}
    <h1>Команда</h1>

    {% if context.user %}
        <h2 class="user-info"><b>Пользователь: </b>{{ context.user.username }}</h2>
        <p>Ваш ID: {{ context.user.id }}</p>
        {% if context.evaluation %}
            <p>Ваша средняя оценка задач: {{ context.evaluation }}</p>
        {% endif %}

        <div class="users">
            <h2>Все члены комады</h2>
            {% for user in context.users %}
                <form id="exclude-user-form" data-user-id="{{ user.user_id }}">
                    <p>Пользователь
                        {% if user.user_id == context.user.id %}(Вы){% endif %}
                        : {{ user.username }} (Роль: {{ user.role }}, ID: {{user.user_id}})</p>
                    <button class="form-btn">Исключить</button>
                </form>        
            {% endfor %}
        </div>

        <form id="add-user-form" class="page-form">
            <h2>Добавить / изменить роль пользователя</h2>
            <div class="input-block">
                <label for="user-id-input">ID пользователя:</label>
                <input type="text" name="user_id" required id="user-id-input">
            </div>

            <div class="input-block">
                <label for="role-select">Роль:</label>
                <select name="role" id="role-select">
                    <option value="u">Пользователь</option>
                    <option value="m">Менеджер</option>
                    <option value="a">Админ</option>
                </select>
            </div>

            <button class="form-btn">Отправить</button>

            <script>
                // add user form
                document.getElementById("add-user-form").addEventListener("submit", async (event) => {
                    event.preventDefault();

                    const token = document.cookie
                        .split("; ")
                        .find(row => row.startsWith("access_token="))
                        ?.split("=")[1];

                    const form_data = new FormData(event.target);
                    const data = Object.fromEntries(form_data);

                    try {
                        const response = await fetch("/api/teams/{{ context.team_id }}/users", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "Authorization": `Bearer ${token}`,
                            },
                            body: JSON.stringify(data),
                        });

                        if (response.ok) {
                            window.location.reload();
                        } else {
                            alert("Ошибка при добавление / изменении");
                        }
                    } catch {
                        alert("Ошибка сети");
                    }
                });

                // exclude user form
                document.getElementById("exclude-user-form").addEventListener("submit", async (event) => {
                    event.preventDefault();

                    const token = document.cookie
                        .split("; ")
                        .find(row => row.startsWith("access_token="))
                        ?.split("=")[1];

                    const user_id = event.target.dataset.userId;

                    try {
                        const response = await fetch(`/api/teams/{{ context.team_id }}/users/${user_id}`, {
                            method: "DELETE",
                            headers: {
                                "Content-Type": "application/json",
                                "Authorization": `Bearer ${token}`,
                            },                            
                        });

                        if (response.ok) {
                            window.location.reload();
                        } else {
                            alert("Ошибка при исключении пользователя");
                        }
                    } catch {
                        alert("Ошибка сети");
                    }
                });
            </script>
        </form>

        <div class="tasks">
            {% if context.tasks %}
                <h2>Задачи</h2>
                    {% for task in context.tasks %}
                        <div class="task-block">
                            <p><b>Описание: </b>{{ task.description }}</p>
                            <p><b>Дедлайн: </b>{{ task.deadline }}</p>
                            <p><b>Статус: </b>{{ task.status }}</p>
                            <p><b>ID исполнителя: </b>{{ task.performer_id }}</p>
                        </div>
                        <div class="hor-line"></div>
                    {% endfor %}
            {% else %}
                <h2>Задачи не найдены</h2>
            {% endif %}
        </div>

        {% if context.calendar_day %}
            <h2 class="calendar-title">Календарь на сегодня</h2>
            {% for event in context.calendar_day.events %}
                <div class="event-block">
                    {% if event.deadline %}
                        <p>Описание задачи: <b>{{ event.description }}</b></p>
                        <p>Дедлайн: <b>{{ event.deadline }}</b></p>
                        <p>ID исполнителя: <b>{{ event.performer_id }}</b></p>
                    {% else %}
                        <p>Встреча: <b>{{ event.name }}</b></p>
                        <p>Дата: <b>{{ event.date }}</b></p>
                        <p>Время (часы): <b>{{ event.time.strftime("%H") }}</b></p>
                    {% endif %}
                </div>
                <div class="hor-line"></div>
            {% endfor %}
        {% endif %}

        {% if context.calendar_month %}
            <h2 class="calendar-title">Календарь на этот месяц</h2>
            {% for event in context.calendar_month.events %}
                <div class="event-block">
                    {% if event.deadline %}
                        <p>Описание задачи: <b>{{ event.description }}</b></p>
                        <p>Дедлайн: <b>{{ event.deadline }}</b></p>
                        <p>ID исполнителя: <b>{{ event.performer_id }}</b></p>
                    {% else %}
                        <p>Встреча: <b>{{ event.name }}</b></p>
                        <p>Дата: <b>{{ event.date }}</b></p>
                        <p>Время (часы): <b>{{ event.time.strftime("%H") }}</b></p>
                    {% endif %}
                </div>
                <div class="hor-line"></div>
            {% endfor %}
        {% endif %}

    {% else %}
        <script>
            (() => {
                document.location.href = "/";
            })();
        </script>
    {% endif %}

{% endblock content %}
