:root {
    --light-color: #fffdfd;
    --dark-color: #222;

    --accent-color: #f00;
    --dark-accent-color: #600;

    --font-size: 16px;
}

html, body {
    height: 100%;
}
html {
    font-size: var(--font-size);
    font-family: sans-serif;
}
body {
    background: var(--light-color);
}

* {
    color: var(--dark-color);
}
h1 {
    font-size: 1.5rem;
    font-weight: 600;
}
h2 {
    font-size: 1.2rem;
    font-weight: 600;
}
a {
    cursor: pointer;
    color: var(--accent-color);
    transition: 0.1s;
}
a:hover, a:active {
    color: var(--dark-accent-color);
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.container {
    max-width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
}


header {
    background-color: var(--dark-color);
    padding: 1rem 0;
}
header * {
    color: var(--light-color);
}
header a {
    color: var(--accent-color);
}
header a:hover,
header a:active {
    color: var(--light-color);
}
.header__links {
    display: flex;
    gap: 1rem;
    align-items: center;
}


main {
    padding: 40px;
    flex: 1
}


footer {
    background-color: var(--dark-color);
    padding: 1rem 0;
}
footer * {
    color: var(--light-color);
}
footer a {
    color: var(--accent-color);
}
footer a:hover,
footer a:active {
    color: var(--light-color);
}


form {
    border: 1px solid var(--dark-color);
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.input-block {
    max-width: 20rem;
    width: 100%;
}
input {
    border: 1px solid var(--dark-color);
    padding: 4px 8px;
    border-radius: 4px;
    width: 100%;
}
label {
    display: block;
}
.form-btn {
    cursor: pointer;
    padding: 4px 8px;
    color: var(--light-color);
    background-color: var(--dark-color);
    border-radius: 4px;
    transition: 0.1s;
}
.form-btn:hover, .form-btn:active {
    color: var(--accent-color);
}

.page-form {
    margin: 2rem 0;
}
